Repository DFE-Digital/teacher-success, pull requests merged in 2025-08, with the labels that each got.

#110 Conditional to enable clarity only in production environment
  app/views/shared/analytics/_clarity.html.erb
Labels: deploy

#112 Fix issue with feedback form errors removing the page url
  app/controllers/feedback_controller.rb
  app/models/feedback.rb
  app/views/feedback/new.html.erb
  spec/factories/feedback.rb
  spec/helpers/feedback_helper_spec.rb
  spec/models/feedback_spec.rb
  spec/models/page_feedback_spec.rb
Labels: ruby, deploy

#104 slight tweak to page header background colour to improve contrast of feedback link
  app/assets/stylesheets/colours.scss
  app/assets/stylesheets/components/cards/card-with-image.scss
  app/assets/stylesheets/components/cards/quote.scss
  app/assets/stylesheets/page-header.scss
Labels: deploy

#111 Adding quotes throughout service with blue quote block, also fixes the spacing issue on the 'advice from trainees' page in the backlog
  app/components/cards/quote_component.html.erb
  app/components/cards/quote_component.rb
  app/views/content/get-support/get-support-outside-your-training.md
  app/views/content/get-support/get-support-through-your-training-course.md
  app/views/content/prepare-for-training/advice-from-former-trainees.md
  app/views/content/prepare-for-training/how-to-prepare-for-teacher-training.md
  app/views/content/prepare-for-training/prepare-for-your-first-school-placement.md
  app/views/content/prepare-for-training/what-to-expect-from-your-school-based-mentor.md
  app/views/content/prepare-for-training/what-to-expect-from-your-teacher-training-provider.md
  app/views/content/resources-while-training/behaviour-management.md
  app/views/content/resources-while-training/lesson-planning-as-a-trainee-teacher.md
  app/views/content/resources-while-training/meeting-the-teachers-standards.md
Labels: ruby, deploy

#113 Accessibility statement initial draft
  app/views/content/accessibility.md
Labels: deploy

#116 Fix typo and update email address
  app/views/content/accessibility.md
  app/views/cookie_preferences/edit.html.erb
Labels: deploy

#117 Update what-to-expect-from-your-school-based-mentor.md
  app/views/content/prepare-for-training/what-to-expect-from-your-school-based-mentor.md
Labels: deploy

#124 adding get support mail to link to footer
  app/views/shared/_footer.html.erb
Labels: deploy

#122 update service maintenance page footer
  maintenance_page/html/index.html
Labels: deploy

#68 Remove http basic auth
  app/controllers/application_controller.rb
Labels: ruby, deploy

#129 Run applicaton as non-root user
  Dockerfile
  terraform/application/application.tf
Labels: devops, deploy
