Repository DFE-Digital/teacher-success, pull requests merged in 2025-07, with the labels that each got.

#38 Remove encrypted credentials in favour of dotenv
  .env
  config/credentials.yml.enc
Labels: deploy

#35 Add prepare for training content
  app/controllers/content_controller.rb
  app/views/content/about.md
  app/views/content/articles/article.md
  app/views/content/get-support.md
  app/views/content/home.md
  app/views/content/prepare-for-training.md
  app/views/content/prepare-for-training/how-to-prepare-for-teacher-training.md
  app/views/content/prepare-for-training/prepare-for-your-first-school-placement.md
  app/views/content/prepare-for-training/timeline-of-your-training.md
  app/views/content/prepare-for-training/timeline-of-your-training/_if_youre_training_with_a_scitt.html.erb
  app/views/content/prepare-for-training/timeline-of-your-training/_if_youre_training_with_a_university.html.erb
  app/views/content/prepare-for-training/what-to-ask-your-teacher-training-provider.md
  app/views/content/prepare-for-training/what-to-expect-from-your-teacher-training-mentor.md
  app/views/content/resources-while-training.md
Labels: ruby, deploy

#42 Add DR workflows for database backup and restore
  .github/workflows/backup-db.yml
  .github/workflows/postgres-ptr.yml
  .github/workflows/postgres-restore.yml
Labels: github_actions, devops, deploy

#47 Basic auth
  .env
  app/controllers/application_controller.rb
Labels: ruby, deploy

#49 Basic auth
  .env
  app/controllers/application_controller.rb
Labels: ruby, deploy

#52 Page Headers
  app/assets/images/content/teacher.png
  app/assets/stylesheets/application.sass.scss
  app/assets/stylesheets/colours.scss
  app/assets/stylesheets/page-header.scss
  app/assets/stylesheets/typography.scss
  app/views/content/get-support.md
  app/views/content/prepare-for-training.md
  app/views/content/resources-while-training.md
  app/views/shared/_page_header.html.erb
  app/views/shared/page_headers/_default.html.erb
  app/views/shared/page_headers/_image_header.html.erb
  docs/content.md
Labels: documentation, github_actions, deploy

#55 Added staging database config
  config/database.yml
Labels: deploy

#56 Fix typo in database config
  config/database.yml
Labels: deploy

#43 Feedback
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.sass.scss
  app/assets/stylesheets/forms.scss
  app/controllers/application_controller.rb
  app/controllers/feedback_controller.rb
  app/helpers/application_helper.rb
  app/helpers/feedback_helper.rb
  app/models/feedback.rb
  app/views/feedback/index.html.erb
  app/views/feedback/new.html.erb
  app/views/layouts/base.html.erb
  app/views/shared/_feedback.html.erb
  app/views/shared/_flash.html.erb
  app/views/shared/_modal.html.erb
  app/views/shared/page_headers/_default.html.erb
  app/views/shared/page_headers/_image_header.html.erb
  config/initializers/pagy.rb
  config/routes.rb
  db/migrate/20250702113633_create_feedbacks.rb
  package.json
  spec/errors/page_not_found_error_spec.rb
  spec/factories/feedback.rb
  spec/helpers/feedback_helper_spec.rb
  spec/models/feedback_spec.rb
  spec/rails_helper.rb
  spec/requests/feedback_spec.rb
  spec/spec_helper.rb
Labels: dependencies, javascript, ruby, deploy

#69 Codespaces
  .devcontainer/Dockerfile
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  config/environments/development.rb
Labels: ruby, deploy

#71 Enable overnight db backup
  .github/workflows/backup-db.yml
Labels: github_actions, deploy

#80 Bump brakeman
  Gemfile.lock
Labels: dependencies, deploy

#66 Add GA and accept/reject non-essential cookies flow
  app/assets/stylesheets/application.sass.scss
  app/assets/stylesheets/cookies.scss
  app/controllers/cookie_preferences_controller.rb
  app/helpers/cookies_helper.rb
  app/javascript/controllers/cookies_controller.js
  app/javascript/controllers/index.js
  app/models/cookie_preferences.rb
  app/views/content/cookies.md
  app/views/content/home.md
  app/views/content/home/_next_steps.html.erb
  app/views/cookie_preferences/edit.html.erb
  app/views/layouts/base.html.erb
  app/views/shared/_analytics.html.erb
  app/views/shared/_cookie_banner.html.erb
  app/views/shared/analytics/_ga_body.html.erb
  app/views/shared/analytics/_ga_head.html.erb
  config/routes.rb
  spec/rails_helper.rb
  spec/requests/cookie_preferences_spec.rb
  spec/system/cookie_banner_spec.rb
Labels: javascript, ruby, deploy

#85 adding clarity include snippet
  app/views/layouts/base.html.erb
  app/views/shared/analytics/_clarity.html.erb
Labels: deploy

#86 Bump Solid Queue 1.2.0 -> 1.2.1
  Gemfile.lock
Labels: dependencies, deploy

#73 start on home page image block list text alignment
  app/assets/stylesheets/application.sass.scss
  app/assets/stylesheets/quick-links.scss
  app/views/content/home/_quick_links.html.erb
Labels: deploy

#82 Content tweaks
  app/views/content/cookies-policy.md
  app/views/content/get-support.md
  app/views/content/get-support/get-support-outside-your-training.md
  app/views/content/get-support/get-support-through-your-training-course.md
  app/views/content/home.md
  app/views/content/home/_next_steps.html.erb
  app/views/content/home/_quick_links.html.erb
  app/views/content/prepare-for-training.md
  app/views/content/prepare-for-training/how-to-prepare-for-teacher-training.md
  app/views/content/prepare-for-training/prepare-for-your-first-school-placement.md
  app/views/content/prepare-for-training/timeline-of-your-training.md
  app/views/content/prepare-for-training/what-to-expect-from-your-school-based-mentor.md
  app/views/content/prepare-for-training/what-to-expect-from-your-teacher-training-provider.md
  app/views/content/privacy.md
  app/views/content/resources-while-training/behaviour-management.md
  app/views/content/resources-while-training/lesson-planning-as-a-trainee-teacher.md
  app/views/content/resources-while-training/meeting-the-teachers-standards.md
  app/views/shared/_cookie_banner.html.erb
  app/views/shared/_feedback.html.erb
  app/views/shared/_footer.html.erb
  app/views/shared/page_headers/_default.html.erb
  app/views/shared/page_headers/_image_header.html.erb
  config/locales/en.yml
  config/variables.yml
Labels: deploy

#89 Create "Advice from former trainees" page
  app/assets/stylesheets/application.sass.scss
  app/assets/stylesheets/components/cards/quote.scss
  app/assets/stylesheets/layout.scss
  app/components/cards/quote_component.html.erb
  app/components/cards/quote_component.rb
  app/views/content/prepare-for-training.md
  app/views/content/prepare-for-training/advice-from-former-trainees.md
  app/views/content/prepare-for-training/how-to-prepare-for-teacher-training.md
  app/views/layouts/article.html.erb
  spec/components/cards/quote_component_spec.rb
Labels: ruby, deploy

#92 Remove the feedback component
  app/assets/stylesheets/application.sass.scss
  app/assets/stylesheets/feedback.scss
  app/views/layouts/base.html.erb
  app/views/shared/_feedback.html.erb
Labels: deploy

#99 Add Sentry
  .env
  Gemfile
  Gemfile.lock
  config/initializers/sentry.rb
Labels: dependencies, ruby, deploy

#100 Content changes
  app/views/content/home/_quick_links.html.erb
  app/views/content/prepare-for-training/advice-from-former-trainees.md
  app/views/content/prepare-for-training/prepare-for-your-first-school-placement.md
  app/views/content/prepare-for-training/what-to-expect-from-your-school-based-mentor.md
  app/views/content/prepare-for-training/what-to-expect-from-your-teacher-training-provider.md
  app/views/content/resources-while-training/behaviour-management.md
  app/views/content/resources-while-training/lesson-planning-as-a-trainee-teacher.md
Labels: deploy

#91 Merge cookies policy and preferences to a single page
  app/assets/stylesheets/cookies.scss
  app/controllers/cookie_preferences_controller.rb
  app/views/content/accessibility.md
  app/views/content/cookies-policy.md
  app/views/content/cookies.md
  app/views/cookie_preferences/edit.html.erb
  app/views/shared/_cookie_banner.html.erb
  app/views/shared/_footer.html.erb
  config/routes.rb
Labels: ruby, deploy

#79 Page feedback
  app/assets/stylesheets/application.sass.scss
  app/assets/stylesheets/flex.scss
  app/assets/stylesheets/notification-banner.scss
  app/assets/stylesheets/page-feedback.scss
  app/controllers/feedback_controller.rb
  app/controllers/page_feedback_controller.rb
  app/models/page_feedback.rb
  app/views/cookie_preferences/edit.html.erb
  app/views/feedback/new.html.erb
  app/views/layouts/base.html.erb
  app/views/page_feedback/_form.html.erb
  app/views/page_feedback/index.html.erb
  app/views/shared/page_headers/_default.html.erb
  app/views/shared/page_headers/_image_header.html.erb
  config/routes.rb
  db/migrate/20250721124812_create_page_feedbacks.rb
  db/schema.rb
  spec/factories/page_feedbacks.rb
  spec/models/page_feedback_spec.rb
Labels: ruby, deploy

#105 Removing errant full stop
  app/views/content/resources-while-training/meeting-the-teachers-standards.md
Labels: deploy
